extends layout

block content
  div.post-container
    h1= post.title
    div.span7.post.content.unescape(style='border-color: #{post.color || "#f00"}')
      = post.content
      
    div.span3.pull-right.well.details
      .detail.published
        span.posted Posted on 
        span.date(data-date=post.date)
      
      .detail.tags(data-tags=post.tags) Tagged with 
        each tag in post.tags
          a(href=tagUrl(tag))= tag
  
  
  script
    $(function() {
      $('li[data-ref="blog"]').addClass('active')
    })

            
